################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/src/OfficeRoomie/OfficeRoomie/OfficeRoomie/Database/AppDbContext.cs
/.vs/pmv-ads-2024-2-e2-proj-int-t6-officeroomie/v17/.wsuo
/.vs/slnx.sqlite
/.vs/pmv-ads-2024-2-e2-proj-int-t6-officeroomie/FileContentIndex/a840a4aa-0823-48e6-981e-751c15a42ef5.vsidx
/.vs/pmv-ads-2024-2-e2-proj-int-t6-officeroomie/FileContentIndex/15c11d5d-c1f2-4d12-9b91-3987b31bc4a2.vsidx
/.vs/pmv-ads-2024-2-e2-proj-int-t6-officeroomie/FileContentIndex/2ca628ed-f7e0-4269-a387-54605bdb256e.vsidx
/.vs/pmv-ads-2024-2-e2-proj-int-t6-officeroomie/FileContentIndex/3d714186-0bbf-491b-b878-f8ed15decae2.vsidx
